<script src="app.component.ts"></script>
<div class="container-fluid">
  <!-- Top navigation bar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height: 80px; z-index: 1">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="padding:25px"><b style="color: #337ab7; font-size: xx-large">Stock
        Management System</b></a>
    </div>
    <ul id="menu-content1" class="nav navbar-top-links navbar-right" style="padding-top: 25px">
      <li>Full name</li>
      <li>|</li>
      <li>Sign out</li>
    </ul>
  </nav>
  <!-- Router outlet -->
  <div style="padding-left: 250px; padding-top: 80px">
    <router-outlet></router-outlet>
  </div>
  <!-- Side navigation bar -->
  <div class="navbar-default sidebar change" role="navigation">
    <div class="nav-side-menu change">
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li routerLink="/users" [ngClass]="{'active':activeTab=='Admins'}" (click)="setActiveTab('Admins')">
            <a>
              <i class="fa fa-user" aria-hidden="true"></i>
              <span ng-cloak>Admins</span>
            </a>
          </li>
          <li routerLink="/products" [ngClass]="{'active':activeTab=='Products'}" (click)="setActiveTab('Products')">
            <a>
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              <span ng-cloak>Products</span>
            </a>
          </li>
          <li routerLink="/categories" [ngClass]="{'active':activeTab=='Categories'}"
              (click)="setActiveTab('Categories')">
            <a>
              <i class="fa fa-tags" aria-hidden="true"></i>
              <span ng-cloak>Categories</span>
            </a>
          </li>
          <li routerLink="/stock" [ngClass]="{'active':activeTab=='Stock'}" (click)="setActiveTab('Stock')">
            <a>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span ng-cloak>Stock</span>
            </a>
          </li>
          <li routerLink="/reusable" [ngClass]="{'active':activeTab=='Reusable'}" (click)="setActiveTab('Reusable')">
            <a>
              <i class="fa fa-reply-all" aria-hidden="true"></i>
              <span ng-cloak>Reusable</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="navbar-fixed-bottom change  ng-view-panel" id="bottomBar">
    <div class="text-center">
      <ul>
        <li>&#169; chamithashanaka&#64;gmail.com &#38; nishenkpeiris&#64;gmail.com</li>
      </ul>
    </div>
  </div>
</div>

